<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="D:\work\Code\_works\xjp02\Xjp2Backend\Xjp2Backend\bin\Debug\netcoreapp3.1\Xjp2Backend.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
	  <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff"/>
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-XSS-Protection" value="1;mode=block"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>